<body>
  <header>
    <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
  </header>
  <section id="chat-container">
    <h2 id="chat-title">
      <img src="https://cdn-icons-png.flaticon.com/512/8684/8684514.png" alt="Logo" class="logo" />
      Quibo
    </h2>
    <section id="chat">
      <ul id="messages">
        <li *ngFor="let msg of messages">
          <strong>{{ msg.userName }}:</strong> {{ msg.message }}
        </li>
      </ul>
      <form id="form" (ngSubmit)="onSubmit()">
        <input type="text" name="message" id="input" [(ngModel)]="message" placeholder="Type a message" autocomplete="off"/>
        <button class="button-34" type="submit">Send</button>
      </form>
    </section>
  </section>
</body>




