*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: grid;
  place-content: center;
  height: 100vh;
  padding: 36px;
  grid-template-rows: 1fr;
  background-color: #f1f1f1;
  background-image: url("https://images2.alphacoders.com/132/thumb-1920-1320348.jpeg");
  background-size: cover;
  background-position: center;
}

#chat {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  width: 600px;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.13);
  padding-bottom: 5px;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 4px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: calc(100% - 48px);
}
#messages > li {
  padding: 8px 12px;
}

#messages > li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.44);
}
#form {
  bottom: 0;
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: space-between; /* Espacia los elementos horizontalmente */
  height: 48px;
  left: 0;
  padding: 4px;
  position: absolute;
  right: 0;
}

#input {
  border-radius: 9999px;
  border: 1px solid #eee;
  flex: 1;
  margin: 4px;
  padding: 8px;
}

#input:focus {
  outline: none;
}
.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
